<div ng-controller="rolecontroller">
	<!-- Breadcrumb    User_Management-->
	<div class="col-lg-12 col-md-12 col-sm-12 no-pad">
		<div class="breadcrumb"><label>User Management &gt;</label>&nbsp;<label>{{pageName}}</label></div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 " style="padding:2px;">
		<div class="col-lg-12 col-md-12 col-sm-12" style=" background-color: white;">
			<div class="row">					
				<div class="col-lg-12 col-md-12 col-sm-12 " style="overflow-x:scroll; overflow-y: hidden;">
					<div class="table-responsive" style="height:420px;">	
					
						<div id="addroles_button" style="float:right;padding:0px 5px 0px 0px;position:relative;right:0px;">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addNewRoles">Add New Roles</button>
						</div>
						
						<table datatable="" id=""  class="table table-striped table-bordered"  >
							<thead>
							<tr role="row">
								<th class="sorting" tabindex="0" aria-controls="mytable" rowspan="1" colspan="1" aria-label="Role Name: activate to sort column ascending" style="width: 85px;">Role Name</th>
								<th class="sorting" tabindex="0" aria-controls="mytable" rowspan="1" colspan="1" aria-label="# Users: activate to sort column ascending" style="width: 81px;"># Users</th>
								<th class="sorting" tabindex="0" aria-controls="mytable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 81px;">Status</th>
								<th class="sorting" tabindex="0" aria-controls="mytable" rowspan="1" colspan="1" aria-label="Unit: activate to sort column ascending" style="width: 81px;">Actions</th>
							</tr>
							</thead>
							<tbody>	
								
								 <tr ng-repeat="role in roleList track by $index">
									<td class="hightLightInfo">{{role.attr_mst_role_name}}</td>
									<td class="hightLightInfo" data-toggle="modal" data-target="#UserListModal" ng-value="role.pk_mst_role_id" ng-click="roletoUser(role.pk_mst_role_id)">{{role.number_user}}</td>
									<td>{{role.attr_status}}</td>
									<td style="color:blue;cursor:pointer;" data-toggle="modal" data-target="#roleActionModal"><img src='/application/images/edit.png' id='action_image' style="width:15px;height:15px;" ng-click="editRole(role.pk_mst_role_id)"></td>
									
								  </tr>
								
							</tbody>
						</table>
						<div class="pagination_main_div">
							<div class="pagination" style="float:left;"></div>
						</div>											
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!-- Modal Naveen-->
<div id="addNewRoles" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Roles</h4>
      </div>
      <div class="modal-body">
        
		<form role="form">
			<!-- <div class="form-group">
				<label>Role Name</label>
				<input type="text" class="form-control" placeholder="Enter ...">
			</div>
			<div class="form-group">
				<label>Role Description</label>
				<textarea class="form-control" rows="1" placeholder="Enter ..."></textarea>
            </div> -->
			<div class="col-lg-12 col-md-12 col-sm-12 no-pad">
				<div class="col-lg-5 col-md-4 col-sm-4 no-pad-left">
					<div class="form-group">
						  <label for="" class="col-sm-3 control-label">Role Name</label>

						  <div class="col-sm-9">
							<input type="text" class="form-control textBox" id="" placeholder="Enter ..." />
						  </div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8 col-sm-8">
					<div class="form-group">
						  <label for="" class="col-sm-3 control-label">Role Description</label>

						  <div class="col-sm-9 form-group" >
							<textarea class="form-control textBox" rows="1" id="" placeholder="Enter ..." style="max-width:100%;" ></textarea>
						  </div>
					</div>	
				</div>	
			</div>
			<table id="example" class="table table-striped table-bordered">
				<thead>
					<tr role="row">
						<th ng-repeat="i in addNewRolesHeader">{{i}}</th>
					</tr>
				</thead>
				<tbody class="rolesbody">						
					<tr ng-repeat="row in addNewList">
						<td>{{row.ModuleName}}</td>
						<td>{{row.PageName}}</td>
						<td><input type="checkbox" /></td>
						<td><input type="checkbox" /></td>
						<td><input type="checkbox" /></td>
					</tr>					
				</tbody>
			</table>			
		</form>
		
		
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>	
	
	
<!-- Modal Shruti -->
<div id="UserListModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">User List</h4>
	  </div>
	  <div class="modal-body">
 
	  <input type="radio" ng-model="Users" value="Users" ng-click="HideReMap()" id="UserRadio" checked="checked" name="USERREMAPRADIO">  Users 
	  <input type="radio" ng-model="ReMap" value="ReMap" style="margin-left:5%" id="RemapRadio" ng-click="HideUsers()" name="USERREMAPRADIO"> Re-Map  
	
	 
				
	<div ng-show="Users" class="col-lg-12 col-md-12 col-sm-12" style="margin-top:3%;">
		 <table id="userList" class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions" >
			<thead>
			  <tr>
			  <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" value="" ><br></th>
			  <th>S.No</th>
			  <th>Full Name</th>
			  <th>Login Name</th>
			  </tr>
			</thead>
			<tbody >
			  <tr ng-repeat="user in userList" class="columns1" >
				<td><input type="checkbox" ng-model="selectedValue[$index+1]" ng-init="selectedValue[$index+1]=false"><br/></td>
				<td>{{$index}}</td>
				<td>{{user.attr_last_name}} {{user.attr_first_name}}</td>
				<td>{{user.attr_user_name}}</td>
									
			  </tr>
			</tbody>
		</table>		
	</div>

	<div ng-show="ReMap" class="col-lg-12 col-md-12 col-sm-12">
	<div class="col-lg-6 col-md-6 col-sm-6 " style="background-color:white;margin-top:3%;">
	 <table  class="col-lg-6 col-md-6 col-sm-6 table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions" >
			<thead>
			  <tr>
				<th></th>
				<th>Login Name</th>
			  </tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in userList" class="columns1" >
					<td><input type="checkbox" ng-model="selectedValueUser[$index+1]" ng-init="selectedValueUser[$index+1]=false"></td> 
					<td>{{user.attr_user_name}}</td>
				</tr>
			</tbody>
		</table>  
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 " style="background-color:white;float:left;margin-top:3%;">
		<table  class="col-lg-6 col-md-6 col-sm-6 table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions" >
			<thead>
			  <tr>					  
			   <th></th>
			   <th>Role Name</th>
			  </tr>
			</thead>
			<tbody >
			  <tr ng-repeat="role in roleList" class="columns1" >
				
				<td><input type="checkbox" ng-model="selectedValueRole[$index+1]" ng-init="selectedValueRole[$index+1]=false">
				<td>{{role.attr_mst_role_name}}</td>
									
			  </tr>
			</tbody>
		</table>
	</div>
		
	  </div>
	  
	  </div>
	  <div class="modal-footer">
	  
	   <div ng-show="Users">
	  
			<button type="button" class="btn btn-success" ng-click="removeUser(role.pk_mst_role_id)" >Remove</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="RemoveActiveRole()">Cancel</button>
		
	   </div>
	   <div ng-show="ReMap">
			<button type="button" class="btn btn-success" ng-click="remapUser()" >Re-Map</button>
			<button type="button" class="btn btn-danger"  data-dismiss="modal" ng-click="RemoveActiveRole()">Cancel</button>
	   </div>
	  </div>
	</div>

  </div>
</div>	  
<!-- Shruti End -->	

<!--Manage Role Modal Navneet-->
<div id="roleActionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!--Manage Role Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Role</h4>
      </div>
	  <div class="modal-body">
		<form role="form">
			<div class="form-group">
			  <label>Role Name</label>
			  <input type="text" class="form-control" ng-model="roleEdit[0].attr_mst_role_name" disabled="">
			  
			</div>
			<div class="form-group">
			  <label>Description</label>
			  <textarea class="form-control" rows="2" ng-model="roleEdit[0].attr_role_description"></textarea>
			</div>
			<div class="form-group">
				<label><span style="display:block">Status</span></label><br>
				<label class="radio-inline radio_heading " style="padding-left:19px;"> 
					<input type="radio" name="status" value="3" checked ng-model="item.checkbox">Active
				</label>
				<label class="radio-inline radio_heading " style="padding-left:0px; margin-left: 30px;"> 
					<input type="radio" name="status" value="3">Inactive
				</label>
			</div>
		</div>
        <div class="modal-footer">
			<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="editRoleSave()">Save</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


</div>