<div ng-controller="pwdPolicyController">
	<div class="col-lg-12 col-md-12 col-sm-12 no-pad">
		<div class="breadcrumb">
			<label>User Management &gt;</label>&nbsp;<label>{{pageName}}</label>
		</div>
	</div>

	<!-- Kavya -->
	<div class="row">
		<div id="password_policy"
			class="col-lg-8 col-md-12 col-sm-12 no-pad-right">
			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdLen">Minimum Password Length</label>
				<span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox" name="Minlen"
					id="minLen" value="" />
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="gracePeriod">Grace Periods</label> <span
					class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox" name="gracePeriod"
					id="graceperiod" value="" />
			</div>



			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdDig">Minimum Number of Digits
					in Password</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox" name="MinDig"
					id="minDig" value="" />
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="gracePeriod">Forced Change Password
					Days</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox" name="forcePwdDays"
					id="forcepwddays" value="" />
			</div>


			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdSym">Minimum Number of
					Symbols in Password</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox" name="MinSym"
					id="minSym" value="" />
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="gracePeriod">Password Expiration
					Day</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox" name="ExpDays"
					id="expDays" value="" />
			</div>



			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdUpChar">Minimum Number of
					Upper Characters</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox" name="MinUpperChar"
					id="minUpperChar" value="" />
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdExpDays">Password Expiry
					alert days</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox" name="ExpAlertDays"
					id="expAlertDays" value="" />
			</div>


			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdAlphabets">Minimum Number of
					Alphabets in Password</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox" name="MinAlpha"
					id="minAlpha" value="" />
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdFailedAttempts">Number of
					failed Attempts</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="text" class="form-control textBox"
					name="FailedAttempts" id="failedAttempts" value="" />
			</div>
		</div>
	</div>
</div>