<div ng-controller="pwdPolicyController">
	<div class="col-lg-12 col-md-12 col-sm-12 no-pad">
		<div class="breadcrumb">
			<label>User Management &gt;</label>&nbsp;<label>{{pageName}}</label>
		</div>
	</div>

	<!-- Kavya -->
	<div class="row" >
		<div  id="password_policy"
			class="col-lg-8 col-md-12 col-sm-12 no-pad-right">
			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdLen">Minimum Password Length</label>
				<span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
			<input  type="number" name="minLen" ng-init = "minLen=0" ng-model="minLen" class="form-control textBox {{validation}}" >
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="gracePeriod">Grace Periods</label> <span
					class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left ">
				<input type="number" class="form-control textBox " name="gracePeriod"
					id="graceperiod"  ng-model="graceperiod" ng-init = "graceperiod=0" />
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdDig">Minimum Number of Digits
					in Password</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="number" class="form-control textBox {{validation}}" name="MinDig"
					id="minDig" value="" ng-model="minDig" ng-init = "minDig=0"/>
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="gracePeriod">Forced Change Password
					Days</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="number" class="form-control textBox " name="forcePwdDays"
					id="forcepwddays" value="" ng-model="forcepwddays" ng-init = "forcepwddays=0"/>
			</div>


			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdSym">Minimum Number of
					Symbols in Password</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="number" class="form-control textBox {{validation}}" name="MinSym"
					id="minSym" value="" ng-model="minSym" ng-init = "minSym=0"/>
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="gracePeriod">Password Expiration
					Day</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="number" class="form-control textBox " name="ExpDays"
					id="expDays" value="" ng-model="expDays" ng-init = "expDays=0"/>
			</div>



			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdUpChar">Minimum Number of
					Upper Characters</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="number" class="form-control textBox {{validation}}"  name="MinUpperChar"
					id="minUpperChar" value="" ng-model="minUpperChar" ng-init = "minUpperChar=0"/>
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdExpDays">Password Expiry
					alert days</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="number" class="form-control textBox " name="ExpAlertDays"
					id="expAlertDays" value="" ng-model="expAlertDays" ng-init = "expAlertDays=0"/>
			</div>


			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdAlphabets">Minimum Number of
					Alphabets in Password</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="number" class="form-control textBox {{validation}}" name="MinAlpha"
					id="minAlpha" value="" ng-model="minAlpha" ng-init = "minAlpha=0" />
			</div>

			<div
				class="col-lg-4 col-md-6 col-sm-6 no-pad text-align-left labelDiv">
				<label class="left" for="minPwdFailedAttempts">Number of
					failed Attempts</label> <span class="red">*</span>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 no-pad text-align-left">
				<input type="number" class="form-control textBox "
					name="FailedAttempts" id="failedAttempts" ng-model="failedAttempts" ng-init = "failedAttempts=0" />
			</div>
		</div>
	 
		
	</div>
	 <div style="background-color:white;float:right;margin-right:30%;margin-top:2%;">
		<button type="button" class="btn btn-success" ng-click="Update()">Update</button>
        <button type="button" class="btn btn-danger" ng-click="Reset()">Reset</button>
      </div>
</div>