<div ng-controller="rolecontroller">
	<!-- Breadcrumb    User_Management-->
	<div class="col-lg-12 col-md-12 col-sm-12 no-pad">
		<div class="breadcrumb"><label>User Management &gt;</label>&nbsp;<label>{{pageName}}</label></div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 " style="padding:2px;">
		<div class="col-lg-12 col-md-12 col-sm-12" style=" background-color: white;">
			<div class="row">					
				<div class="col-lg-12 col-md-12 col-sm-12 " style="overflow-x:scroll; overflow-y: hidden;">
					<div class="table-responsive" style="height:420px;">	
					
						<div class="col-lg-2 col-md-2 col-sm-12 form-group input-group search-group left">
							<div class="input-group add-on">
								<input  class="form-control" placeholder="Search by Role Name" name="srch-term" id="srch-term" type="text" ng-model="search.attr_mst_role_name" />
								<div class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</div> 
					
						<div id="addroles_button" style="float:right;padding:0px 5px 0px 0px;position:relative;right:0px;">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addNewRoles" data-backdrop="static" data-keyboard="false" ng-click="editPageDetails(null)">Add New Roles</button>
						</div>
						
					 <table  datatable="ng"  class="table table-striped table-bordered" ng-model="editRole" > 
							<thead>
							<tr role="row">
								<th class="sorting" tabindex="0" aria-controls="mytable" rowspan="1" colspan="1" aria-label="Role Name: activate to sort column ascending" style="width: 85px;">Role Name</th>
								<th class="sorting" tabindex="0" aria-controls="mytable" rowspan="1" colspan="1" aria-label="# Users: activate to sort column ascending" style="width: 81px;"># Users</th>
								<th class="sorting" tabindex="0" aria-controls="mytable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 81px;">Status</th>
								<th class="sorting" tabindex="0" aria-controls="mytable" rowspan="1" colspan="1" aria-label="Unit: activate to sort column ascending" style="width: 81px;">Actions</th>
							</tr>
							</thead>
							<tbody>	
								 <tr ng-repeat="role in roleList |filter:search">
									<td class="hightLightInfo" data-toggle="modal" data-target="#addNewRoles" ng-click="editPageDetails(role.pk_mst_role_id)">{{role.attr_mst_role_name}}</td>
									<td class="hightLightInfo" data-toggle="modal" data-target="#UserListModal" ng-value="role.pk_mst_role_id" ng-click="roletoUser(role.pk_mst_role_id)" data-backdrop="static" data-keyboard="false" >{{role.number_user}}</td>
									<td  ng-if="role.attr_status==true" ng-model="role.StatusUser" class="capitalize">Active</td>
									<td  ng-if="role.attr_status==false || role.attr_status==null" ng-model="role.StatusUser" class="capitalize">Inactive</td> 
									<td style="color:blue;cursor:pointer;" data-toggle="modal" data-target="#roleActionModal"><img src='/applicationHenkel/images/edit.png' id='action_image' style="width:15px;height:15px;" ng-click="editRole(role.pk_mst_role_id)"></td>

									
								  </tr>	
							</tbody>
						</table>
						<div class="pagination_main_div">
							<div class="pagination" style="float:left;"></div>
						</div>											
					</div>
				</div>
			</div>
		</div>
	</div>

<div id="addNewRoles" class="modal fade" role="dialog"  >
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
	  <!-- data-dismiss="modal" -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<span ng-if="rolePageDetail == null">
			 <h4 class="modal-title">Add Role</h4>
		</span>	
		<span ng-if="rolePageDetail != null">
			 <h4 class="modal-title">Edit Role</h4>
		</span>	 
      </div>
      <div class="modal-body">
        
		<form role="form">
			
			<div class="col-lg-12 col-md-12 col-sm-12 no-pad">
				<div class="col-lg-5 col-md-4 col-sm-4 no-pad-left">
					<div class="form-group">
						  <label for="" class="col-sm-3 control-label">Role Name</label>
						  <div ng-if="rolePageDetail == null" class="col-sm-9">
							<input type="text" class="form-control textBox" ng-model="RoleName" placeholder="Enter ..." />
						  </div>
						  <div ng-if="rolePageDetail != null" class="col-sm-9">
							<input type="text" class="form-control textBox" ng-model="rolePageDetail[0].attr_mst_role_name" ng-value="rolePageDetail[0].attr_mst_role_name" placeholder="Enter ..." />
						  </div> 
					</div>
				</div>
				 <div class="col-lg-7 col-md-8 col-sm-8">
					<div ng-if="rolePageDetail == null" class="form-group">
					<label  class="col-sm-3 control-label">Role Description</label>
						  <div class="col-sm-9 form-group" >
						  <textarea class="form-control textBox" rows="1" ng-model="RoleDescription" placeholder="Enter ..." style="max-width:100%;" ></textarea>
						  </div>
						 
					</div>	
				</div>	
			</div>
			<table  class="table table-striped table-bordered">
				<thead>
					<tr role="row">
						<th ng-repeat="i in addNewRolesHeader">{{i}}</th>
					</tr>
				</thead>
				<div ng-if="rolePageDetail == null">
				<tbody class="rolesbody" >						
					<tr ng-repeat="row in ModulePageList">
						<td ng-module="ModuleName" ng-value="{{row.pk_module_id}}">{{row.attr_module_name}}</td>
						<td ng-module="PageName"   ng-value="{{row.pk_module_id}}">{{row.attr_page_name}}</td>
						<td><input class="checkboxAction" type="checkbox" ng-model="ViewCheckbox[$index+1]" ng-init="ViewCheckbox[$index+1]=false" /></td>
						<td><input class="checkboxAction" type="checkbox" ng-model="SubmitCheckbox[$index+1]" ng-init="SubmitCheckbox[$index+1]=false"/></td>
						<td><input class="checkboxAction" type="checkbox" ng-model="ApproveCheckbox[$index+1]" ng-init="ApproveCheckbox[$index+1]=false"/></td>
					</tr>					
				</tbody>
				</div> 
				<div ng-if="rolePageDetail != null">
				<tbody class="rolesbody" >						
					<tr ng-repeat="row in rolePageDetail">
						<td ng-module="ModuleName" ng-value="{{row.pk_module_id}}">{{row.attr_module_name}}</td>
						<td ng-module="PageName"   ng-value="{{row.pk_module_id}}">{{row.attr_page_name}}</td>
						<td><input  class="checkboxAction" type="checkbox" ng-model="row.action_view" ng-init="ViewCheckbox[$index+1]=row.action_view" /></td>
						<td><input  class="checkboxAction" type="checkbox" ng-model="row.action_submit" ng-init="SubmitCheckbox[$index+1]=row.action_submit"/></td>
						<td><input  class="checkboxAction" type="checkbox" ng-model="row.action_approve" ng-init="ApproveCheckbox[$index+1]=row[0].action_approve"/></td>
					</tr>					
				</tbody>
				</div>
			</table>			
		</form>
		
		
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-success" ng-click="addRole()">Save</button>
        <button type="button" class="btn btn-danger"  data-dismiss="modal" ng-click="CloseModal()">Close</button>
      </div>
    </div>

  </div>
</div>	
	
<div id="UserListModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="CloseModal()">&times;</button>
		<h4 class="modal-title">User List</h4>
	  </div>
	  <div class="modal-body">
	  
	  <input type="radio" value="Users"  class="UserRadio"  ng-click="HideReMap()">  Users 
	  <input type="radio" value="ReMap"  class="ReMapRadio" ng-click="HideUsers()" style="margin-left:5%" > Re-Map 
 
				
	<div ng-show="Users" class="col-lg-12 col-md-12 col-sm-12" style="margin-top:3%;">
		 <table class="table table-striped table-bordered">
			<thead>
			  <tr>
			  <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" class="mastercheck"></th>
			  <th>Full Name</th>
			  <th>Login Name</th>
			  </tr>
			</thead>
			<tbody >
			  <tr ng-repeat="user in userList" class="columns1" >
				<td><input  class=" checkboxAction" type="checkbox" ng-change="uncheckMaster(selectedValue[$index+1])" ng-model="selectedValue[$index+1]" ng-init="selectedValue[$index+1]=false" ng-click="EnableRemove()"><br/></td>
				<td>{{user.attr_last_name}} {{user.attr_first_name}}</td>
				<td>{{user.attr_user_name}}</td>
									
			  </tr>
			</tbody>
		</table>		
	</div>

	<div ng-show="ReMap" class="col-lg-12 col-md-12 col-sm-12">
	<div class="col-lg-6 col-md-6 col-sm-6 " style="background-color:white;margin-top:3%;">
	 <table  class="col-lg-6 col-md-6 col-sm-6 table table-striped table-bordered"  >
			<thead>
			  <tr>
				<th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" class="mastercheck"></th>
				<th>Login Name</th>
			  </tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in userList" class="columns1" >
					<td><input  class="checkboxAction" type="checkbox" ng-change="uncheckMaster(selectedValue[$index+1])" ng-model="selectedValue[$index+1]" ng-init="selectedValue[$index+1]=false" ng-click="EnableRemap()"><br/></td> 
					<td>{{user.attr_user_name}}</td>
				</tr>
			</tbody>
		</table>  
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 " style="background-color:white;float:left;margin-top:3%;">
			<table  class="col-lg-6 col-md-6 col-sm-6 table table-striped table-bordered" >
				<thead>
				  <tr>					  
				   <th></th>
				   <th>Role Name</th>
				  </tr>
				</thead>
				<tbody >
				  <tr ng-repeat="role in roleList" class="columns1" >
					
					<td><input  class="checkboxAction" type="checkbox" ng-model="selectedValueRole[$index+1]" ng-click="EnableRemap()" ng-init="selectedValueRole[$index+1]=false">
					<td>{{role.attr_mst_role_name}}</td>
										
				  </tr>
				</tbody>
			</table>
		
	</div>
	  
	  </div>
	  <div class="modal-footer">
	  
	   <div ng-show="Users">
			<button type="button" class="Remove btn btn-success" disabled ng-click="removeUser(role.pk_mst_role_id)" >Remove</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="RemoveActiveRole()" >Cancel</button>		
	   </div>
	    <div ng-show="ReMap">
			<button type="button" class="Remap btn btn-success" disabled ng-click="remapUser()" >Re-Map</button>
			<button type="button" class="btn btn-danger"  data-dismiss="modal" ng-click="RemoveActiveRole()">Cancel</button>
	   </div>
	  </div>
	</div>

  </div>
</div>
</div>
 <div id="roleActionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Role</h4>
      </div>
	  <div class="modal-body">
		<form role="form">
			<div class="form-group">
			  <label>Role Name</label>
			  <input type="text" class="form-control" ng-model="roleEdit[0].attr_mst_role_name" disabled="">
			  
			</div>
			<div class="form-group">
			  <label>Description</label>
			  <textarea class="form-control" rows="2" ng-model="roleEdit[0].attr_role_description"></textarea>
			</div>
			<div class="form-group">
				<label><span style="display:block">Status</span></label><br>
				<label class="radio-inline radio_heading " style="padding-left:19px;"> 
					<input type="radio" name="status" value="3" checked ng-model="item.checkbox">Active
				</label>
				<label class="radio-inline radio_heading " style="padding-left:0px; margin-left: 30px;"> 
					<input type="radio" name="status" value="3">Inactive
				</label>
			</div>
		</div>
        <div class="modal-footer">
			<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="editRoleSave()">Save</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>  
</div>