body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px !important; 
	background: url("../Images/bg-slice.png") repeat-x scroll 0 0 #ffffff;
}

#logo {
	position: relative;
	left: 27px;
	top: 4px;
	height: 51px;
}

* {
	font-family: Arial;
	font-size: 12px;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	color: #595959;
}

#footer {
	background-color: #014c8c;
	height: 24px;
	color: white;
	padding-left: 1%;
	position: fixed;
	bottom: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%;
}

.footertext {
	color: white;
	position: relative;
	top: 2px;
}

body {
	margin: 0px;
	overflow-x: hidden;
}

li {
	list-style-type: none;
}

ul li {
	color: #fff;
	border-bottom: 1px solid #fbf5f5;
}

ul li:last-child {
	border-bottom: 1px solid #fff;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

textarea {
	resize: none;
}

/*-------------------------------------------*/
.dropdown {
	position: relative;
	display: inline-block;
	height: 95%;
	cursor: pointer;
	border-right: 1px solid rgba(32, 135, 185, 0.68)
}

.image {
	position: relative;
	left: 5px;
}

.imagelogo {
	height: 55px;
	padding: 5px;
	cursor: pointer;
}

.headerdiv {
	height: 30px;
	background-color: #d5001c;
	background: radial-gradient(circle closest-corner at 20% 50%, #1576a5, #014c8c);
	background: -ms-radial-gradient(circle closest-corner at 20% 50%, #f19c7d, #d5001c);
	color: white;
}

.dropdown-toggle {
	color: #fff;
	padding: 0px 25px 0px 25px;
	position: relative;
	top: 5px;
}

.mainbody {
	padding: 0px 0px 10px 0px;
}

.addusertable {
	width: 100%;
}

.addusertable td {
	padding: 5px;
}

.multiselect .dropdown-toggle .btn .btn-default {
	width: 100%;
}

.btn-group {
	width: 100%;
}

.btn-group>.btn:first-child {
	width: 100%;
}

thead th {
	text-align: center;
}

tbody td {
	text-align: center;
}

.form-style-1 {
	padding: 20px 12px 10px 20px;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

.text-center {
	text-align: center;
}

.left-margin {
	margin-left: 5%;
}

.breadcrumb {
	padding: 7px;
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
	padding-bottom: 3px;
	border-radius: 0px;
	padding-left: 22px;
	height: 30px;
}

.no-pad {
	padding: 0px;
}

.no-pad-left {
	padding-left: 0px;
}

.no-pad-right {
	padding-right: 0px;
}

.no-pad-bottom {
	padding-bottom: 0px;
}

.multiselectopen {
	border: 1px solid #ddd;
	padding: 1px 0px 1px 5px;
}

.multiselectopen_list {
	width: 100%;
	border-bottom: 1px dotted #e6e6e6;
	background: #fff;
}

.multiselectopen_list>label {
	float: left;
}

.multiselectopen_list>label span {
	position: relative;
	top: 3px;
}

.no-margin {
	margin: 0px;
}

.usertype {
	height: 30px;
	border-radius: 3px;
}

.usertype div input {
	position: relative;
	top: 2px;
	margin-right: 4px;
}

.usertype div>label {
	font-weight: 100;
}

.red {
	color: #e21814;
}

.userModalHeader {
	position: relative;
	left: 4%;
}

/* Form Validation */
input.error {
	border: 1px solid red;
}

label.error {
	font-weight: normal;
	color: red;
	position: absolute;
}

/* textbox*/
.textBoxSearch {
	border: none;
	border-bottom: 1px solid #DDDDDD;
	box-shadow: none;
	outline: none;
}

.textBox {
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #b5b4b4;
	border-radius: 0px;
}

/* Placeholder for textboxes */
::-webkit-input-placeholder {
	font-size: 12px;
}

::-moz-placeholder {
	font-size: 12px;
} /* firefox 19+ */
:-ms-input-placeholder {
	font-size: 12px;
} /* ie */
input:-moz-placeholder {
	font-size: 12px;
}

/* DataTable Css */
.dataTables_length select {
	border: 1px solid #ddd !important;
}

.dataTables_length {
	top: 0px !important;
}

.pagination {
	margin: 0px 0;
}

table {
	margin-bottom: 0px !important;
	margin: 0px !important;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 7px 18px !important;
}

table.dataTable tbody td {
	border: none;
	/* border-right:1px solid #ddd; */
	border-right: none;
	border-bottom: none;
}

table.dataTable tbody tr:last-child td {
	border-bottom: 1px solid #ddd;
}

table.dataTable tbody td:last-child {
	border-right: none;
}

table.dataTable tbody tr:first-child td {
	border-top: none !important;
}

.table>thead:first-child>tr:first-child>th {
	border-top: 0;
	border: none;
	/* border-right: 1px solid #ddd; */
	border-bottom: none;
	color: #337ab7;
}

.table>thead:first-child>tr:first-child>th:last-child {
	border-right: 1px solid #ddd;
	position: relative;
	right: 0px;
	left: 2px;
}

.table>thead:first-child>tr:first-child>th:first-child {
	border-left: 1px solid #ddd;
}

tbody {
	min-height: 300px !important;
}

.dataTables_scrollBody {
	border: 1px solid #ddd !important;
}

.table>thead>tr>th {
	padding: 3px;
	vertical-align: baseline;
}

table.dataTable tbody td {
	text-overflow: ellipsis;
	max-width: 40px;
	white-space: nowrap;
	overflow: hidden;
}

table.dataTable tbody td:hover {
	max-width: initial;
	/* overflow:visible; */
}

#userList_wrapper {
	padding-top: 0px;
}

.dataTables_length>label {
	font-weight: 100 !important;
}

#userList_filter>label {
	font-weight: 100 !important;
}

.dataTables_info {
	/* position:absolute;
	right:15%; */
	
}

/* MultiSelect */
.multiselect {
	position: relative !important;
	top: 1px;
	height: 32px;
}

.caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle;
}

/* -------- Multi Select Add New User -------*/
#modal_content_rolelist>input {
	float: left;
}

#modal_content_rolelist>span {
	float: left;
}

.button {
	font-family: Arial;
	font-size: 12px !important;
	background-color: gray;
	border-color: gray;
	width: 100px;
	color: white;
}

#addnewuser {
	font-family: Arial;
	font-size: 12px !important;
	width: 100px;
}

.activatebutton {
	background-color: #449d44;
}

.deactivatebutton {
	background-color: #e74c3c;
}

/* Active and De-active User's Buttons */
.approveBtn {
	background-color: #2ecc71;
	border-color: #2ecc71;
}

.approveBtn:hover {
	background-color: #27ae60;
	border-color: #27ae60;
}

.rejectBtn {
	background-color: #e74c3c;
	border-color: #e74c3c;
}

.rejectBtn:hover {
	background-color: #c0392b;
	border-color: #c0392b;
}

.button:hover {
	color: white;
}

/*remove later*/
.selectBox {
	height: 30px;
	/* width: 250px; */
	width: 100%;
}

/* Shruthi */
.hightLightInfo {
	color: blue;
	cursor: pointer;
}


/*Krithi*/


/* * {
	font-size: 14px;
	font-family: Calibri, Arial, Helvetica, sans-serif !important;
	overflow: hidden;
	outline: none;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 200px;
	padding: 5px 0;
	font-size: 14px;
	margin-left: 30px;
	text-align: left;
	border-radius: :-6px;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(229, 231, 236, 0.96);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(136, 158, 197, 0.24);
} */

/* .dataTables_wrapper .dataTables_info {
	margin-left: 1rem;
	font-size: 8pt;
}

.dataTables_filter {
	float: left;
}

table.dataTable tbody tr td:last-child {
	border-right: 1px solid #e4e4e4;
}

table.dataTable tbody tr td:first-child {
	border-left: 1px solid #e4e4e4;
}

.table>thead:first-child>tr:first-child>th:last-child {
	border-right: none;
}

.table>thead:first-child>tr:first-child>th {
	border-top: 0;
	border: none;
	color: #02759a;
}

table.dataTable, table.dataTable.no-footer {
	margin: 1rem 0;
	width: 100% !important;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.dataTables_length {
	float: right;
}

.table>thead:first-child>tr:first-child>th:first-child {
	border-left: none;
	padding: 7px 18px;
}

table.dataTable thead {
	background: #e4e4e4 !important;
	padding: 31px 18px;
	border-bottom: 1px solid #111;
}

.hightLightInfo {
	cursor: pointer;
	color: #008cba;
}

table.dataTable, table.dataTable.no-footer {
	margin: 1rem 0;
	width: 100% !important;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.dropdown-menu::before {
	position: absolute;
	top: -7px;
	left: 8px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #fff;
	border-left: 7px solid transparent;
	border-bottom-color: rgb(255, 254, 254);
	content: '';
	z-index: 1000;
}

.dropdown {
	position: relative;
	display: inline-block;
	height: 95%;
	cursor: pointer;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 15px;
	border-right: none;
}

.breadcrumb {
	padding: 7px;
	list-style: none;
	border: 1px solid #c5d2ea;
	margin-bottom: 10px;
	padding-bottom: 3px;
	border-radius: 0px;
	padding-left: 22px;
	font-weight: bold;
	height: 31px;
	font-size: 13px;
	border-top: none;
	background-color: transparent;
} */

/* .headerdiv {
	height: 30px;
	background: radial-gradient(circle closest-corner at 20% 50%, #1576a5, #014c8c);
	background: -ms-radial-gradient(circle closest-corner at 20% 50%, #f19c7d, #d5001c);
	box-shadow: -1px 10px 8px -8px #868688;
	z-index: 100000;
}

.dropdown-toggle {
	color: #fff;
	padding: 0px 0px 0px 20px;
	position: relative;
	top: 0.3rem;
	font-size: 11pt;
}

.dropdown-menu>li>a {
	display: block;
	padding: 1px 15px 10px 15px;
	clear: both;
	font-size: 11pt;
	color: #333;
	white-space: nowrap;
} */

/*Krithi */
/*Kavya */
.text-align-left {
	text-align: left;
}

.labelDiv {
	height: 34px;
	padding: 6px 12px;
}
.validation
{
border-bottom-color: red;

}