	
<div class="col-lg-12 col-md-12 col-sm-12 SearchArea no-pad-left no-pad-right" ng-controller = "listusercontoller">
	<!-- Breadcrumb-->
	<div class="col-lg-12 col-md-12 col-sm-12 no-pad">
		<div class="breadcrumb"><label my-Bread-Crumb></label></div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 noMaxWidth">
			  
		<div class="col-lg-2 col-md-2 col-sm-12 form-group input-group search-group left">
			<div class="input-group add-on">
				<input  class="form-control" placeholder="Search by First Name" name="srch-term" id="srch-term" type="text" ng-model="search.attr_first_name" />
				<div class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				</div>
			</div>
		</div> 
		<div class="col-lg-2 col-md-2 col-sm-12 form-group input-group search-group left left-margin">	
			<div class="input-group add-on">
				<input class="form-control" placeholder="Search by Last Name" name="srch-term" id="srch-term" type="text" ng-model="search.attr_last_name" />
				<div class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				</div>
			</div>		  
		</div> 
		<div class="col-lg-2 col-md-2 col-sm-12 form-group input-group search-group left left-margin">
			<div class="input-group add-on">
				<input class="form-control" placeholder="Search by Login Name" name="srch-term" id="srch-term" type="text" ng-model="search.attr_email_id" />
				<div class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				</div>
			</div>		  

		</div> 

		<div class="col-lg-2 col-md-2 col-sm-12 form-group input-group search-group left left-margin">
			<select ng-model="search.attr_status" class="selectBox">
				<option value="">All</option>
				<option value="True">Active</option>
				<option value="False">Inactive</option>
			</select>

			
		</div>

		<div class="col-lg-1 col-md-1 col-sm-12 text-center">
			<button type="button" class="btn btn-default" ng-click="ClearSearchText()" type="clear">
				Clear <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> 
			</button>
		</div>
	
				
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 table-responsive noMaxWidth" >
	
		<!-- <table id="userList" class="display table responsive table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>
						<input ng-model="selectedAll" ng-click="checkAll()" type="checkbox" id="selectAllUsers" class="column5 checkboxWidth">
					</th>
					<th>S.No</th>
					<th>Full Name</th>
					<th>Login Name</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Last Updated Time</th>
					<th>Last Updated By</th>
					<th>Active</th>  
				</tr>
			</thead>
			<tbody>

			  <tr ng-repeat="user in userList |filter:search track by $index" class="columns1">				
				<td><input ng-change="checkActiveUser($index+1)" type="checkbox" value="60" id="60" class="check{{$index+1}} chkMap column5 checkboxWidth" data-active="True" data-login="DummyUser" style="width:100%;margin-left:4%" ng-model="selectedValue[$index+1]">
				</td>
				<td>{{$index+1}}</td>
				<td style="color:blue;cursor:pointer;" data-toggle="modal" data-target="#addNewUserModal" ng-value="user.pk_user_id" ng-click="getUserDetails(user.pk_user_id)"> {{user.attr_last_name}} {{user.attr_first_name}}</td>
				<td>{{user.attr_email_id}}</td>
				
				<td>{{user.attr_first_name}}</td>
				
				<td>{{user.attr_last_name}}</td>
				
				<td>{{user.attr_updated_date}}</td>
				<td>{{user.attr_updated_by}}</td>
				
				<td  ng-model="user.StatusUser" class="capitalize">{{user.attr_status}}</td>
			  </tr> 
			</tbody>
		</table> -->
		
		<table id="userList" class="display table responsive table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>				
				    <th>
						<input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" value="" class="column5 checkboxWidth"><br>
					</th>
				    <!-- <th>S.No</th> -->
					<th>Full Name</th>
					<th>Login Name</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Last Updated Time</th>
					<th>Last Updated By</th>
					<th>Active</th>  
				</tr>
			</thead>
			<tbody>
		
				<tr ng-repeat="user in userList |filter:search" class="columns1" >						
					<td><input type="checkbox" ng-model="selectedValue[$index+1]" ng-init="selectedValue[$index+1]=false" ng-change="checkActiveUser()"><br/></td>

					<!-- <td>{{$index}}</td> -->
					<td style="color:blue;cursor:pointer;" data-toggle="modal" data-target="#addNewUserModal" ng-value="user.pk_user_id" ng-click="getUserDetails(user.pk_user_id)"> {{user.attr_last_name}} {{user.attr_first_name}}</td>
					<td>{{user.attr_email_id}}</td>

					<td>{{user.attr_first_name}}</td>

					<td>{{user.attr_last_name}}</td>

					<td>{{user.attr_updated_date}}</td>
					<td>{{user.attr_updated_by}}</td>

					<td  ng-model="user.StatusUser" class="capitalize">{{user.attr_status}}</td>
				</tr> 
			</tbody>
		</table>		
		
	</div>

	<div class="col-lg-12 col-md-6 col-sm-6 ButtonArea">
		<div style="float: right;background-color:white;">			
			<!-- <button ng-click="changeClass()" type="submit" class="button btn ">Activate</button>
			<button ng-click="changeClass()" type="button" class="button btn ">Deactivate</button>
			<button type="button" class=" btn btn-info" id="addnewuser" data-toggle="modal" data-target="#addNewUserModal" ng-click="getUserDetails(0)">Add New User</button> -->	
			
			<button type="submit" class="btn button {{buttonStyleApprove}}" ng-click="activateUsers()">Activate</button>
			<button type="button" class="btn button  {{buttonStyleReject}}" ng-click="deactivateUsers()">Deactivate</button>
			<button type="button" class="btn btn-info" id="addnewuser" data-toggle="modal" data-target="#addNewUserModal" ng-click="getUserDetails(0)">Add New User</button>		
		</div> 
	</div>

		<!-- Modal -->
		<div id="addNewUserModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<span ng-if="edituser == ''">
							<h4 class="modal-title userModalHeader" id="add" value="add">Add New User</h4>
						</span>
						<span ng-if="edituser != ''">
							<h4 class="modal-title userModalHeader" id="add" value="edit">Edit User</h4>
						</span>						
					</div>
					<form id="form">
					<div class="modal-body">
						
						<table class="addusertable" ng-disabled="disabled">
							<tbody>
								<tr>
									<td>											
										<div class="col-lg-12 col-md-12 col-sm-12 no-pad-right">
												<div class="col-lg-4 col-md-4 col-sm-4">
													<label class="left" for="username">User Name</label>
													<span class="red">*</span>
												</div>
												<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
													<div class="form-group">
													  <input type="text" name="username" id="username" class="form-control textBox" placeholder="Enter User Name..." ng-model="user.username" ng-value="edituser[0].attr_user_name"/>										  
													</div>										
												</div>	
												
										</div>								
									</td>
									<td>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div ng-if="edituser == ''">
												<div class="col-lg-4 col-md-4 col-sm-4">
													<label class="left" for="firstname">First Name</label>
													<span class="red">*</span>
												</div>
												<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
													<div class="form-group">
													  <input type="text" name="firstname" id="firstname" class="form-control textBox" placeholder="Enter ..." ng-model="user.firstname" value="firstname"/>
													</div>
												</div>
											</div>
											<div ng-if="edituser != ''">
												<div class="col-lg-4 col-md-4 col-sm-4">
													<label class="left" for="firstname">First Name</label>
													<span class="red">*</span>
												</div>
												<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
													<div class="form-group">
													  <input type="text" id="firstname" class="form-control textBox" ng-model="edituser[0].attr_first_name" ng-value="edituser[0].attr_first_name" disabled/>
													  
													</div>
												</div>
											</div>
										</div>								
									</td>
								</tr>
							<tr>							
							<td>
								<div class="col-lg-12 col-md-12 col-sm-12 no-pad-right">
									<div ng-if="edituser == ''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Last Name</label>
											<span class="red">*</span>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group">
											  <input type="text" class="form-control textBox" placeholder="Enter ..." ng-model="user.lastname" value="lastname" required/>
											</div>
										</div>
									</div>
									<div ng-if="edituser != ''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Last Name</label>
											<span class="red">*</span>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group">
											  <input type="text" class="form-control textBox" id="lastnameedit" ng-model="edituser[0].attr_last_name" ng-value="edituser[0].attr_last_name" disabled/>
											</div>
										</div>
									</div>
								</div>	
							</td>
							<td>
								<div class="col-lg-12 col-md-12 col-sm-12">	
									<div ng-if="edituser == ''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Email ID</label>
											<span class="red">*</span>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group">
											  <input type="text" class="form-control textBox" placeholder="Enter ..." ng-model="user.email" value="email" />
											</div>
										</div>
									</div>
									<div ng-if="edituser !=''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Email ID</label>
											<span class="red">*</span>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group">
											  <input type="text" class="form-control textBox" id="email" ng-model="edituser[0].attr_email_id" ng-value="edituser[0].attr_email_id" disabled/>
											</div>
										</div>
									</div>
								</div>								
							</td>
						</tr>
						<tr>							
							<td>
								<div class="col-lg-12 col-md-12 col-sm-12 no-pad-right">
									<div ng-if="edituser == ''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Full Name</label>
										</div>									
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group">
												<input type="text" class="form-control textBox" value="{{user.firstname}} {{user.lastname}}" />
											</div>
										</div>
									</div>
									<div ng-if="edituser !=''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Full Name</label>
										</div>									
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group">
												<input type="text" class="form-control textBox" value="{{edituser[0].attr_first_name}} {{edituser[0].attr_last_name}}" disabled/>
											</div>
										</div>
									</div>
								</div>	
							</td>
							<td>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div ng-if="edituser == ''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Phone Number</label>
											<span class="red">*</span>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group">
											  <input type="text" class="form-control textBox" placeholder="Format: +919873345678" ng-model="user.phone" value="phone" />
											</div>
										</div>	
									</div>
									<div ng-if="edituser != ''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Phone Number</label>
											<span class="red">*</span>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group">
											  <input type="text" class="form-control textBox" value="{{edituser[0].attr_phone_number}}" />
											</div>
										</div>	
									</div>
								</div>
								
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-lg-12 col-md-12 col-sm-12 no-pad-right">
									<div ng-if="edituser == ''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Role Name</label>
											<span class="red">*</span>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group multiselectopen">
												<div class="newuser" name="Roles" id="RolesTable" style="height: 153px;overflow-y: auto;border-bottom:0px white !important;">                       
													<div id="modal_content_rolelist" style="">												  
														<ul style="padding-left:0px;"> 														
															<li ng-repeat="row in RolesList"><div class="checkbox left no-margin multiselectopen_list"><label><input type="checkbox" name="roles" ng-model="user.roles[row]" value="roles" /><span>{{row}}</span></label></div></li>														
														</ul>													
													</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-if="edituser != ''">			<!-- EDIT -->
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">Role Name</label>
											<span class="red">*</span>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
											<div class="form-group multiselectopen">
												<div class="newuser" name="Roles" id="RolesTable" style="height: 153px;overflow-y: auto;border-bottom:0px white !important;">                       
													<div id="modal_content_rolelist" style="">												  
														<ul style="padding-left:0px;"> 														
															<li ng-repeat="row in RolesList"><div class="checkbox left no-margin multiselectopen_list"><label><input type="checkbox" ng-attr-id="{{row.split(' ').join('')}}" name="roles" ng-model="edituser[0].roles[row]" value="roles" /><span>{{row}}</span></label></div></li>														
														</ul>													
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>								
							</td>
							<td>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div ng-if="edituser == ''">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">User Type</label>
										</div>
										<div class="col-lg-7 col-md-7 col-sm-7 no-pad-right">
										<div class="form-group usertype ">
											<div class="col-lg-6 col-md-6 col-sm-6 no-pad-left">
												<label><input type="radio" name="usertype" ng-model="user.usertype" value="employee"/><span>Employee</span></label>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 no-pad-left">
												<label><input type="radio" name="usertype" ng-model="user.usertype" value="customer"/><span>Customer</span></label>
											</div>
										</div>
										</div>
									</div>
									<div ng-if="edituser != ''">				<!-- EDIT -->
										<div class="col-lg-4 col-md-4 col-sm-4">
											<label class="left">User Type</label>
										</div>
										<div class="col-lg-7 col-md-7 col-sm-7 no-pad-right">
										<div class="form-group usertype" id="userradio">
											<div class="col-lg-6 col-md-6 col-sm-6 no-pad-left">
												<label>
												<input type="radio" id="employee" name="usertype" data-ng-model="edituser[0].usertype" value="employee"/><span>Employee</span>
												</label>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 no-pad-left">
												<label>
												<input type="radio" id="customer" name="usertype" data-ng-model="edituser[0].usertype" value="customer"/><span>Customer</span>
												</label>
											</div>
										</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>							
							<td>
								<div class="col-lg-12 col-md-12 col-sm-12 no-pad-right">
									<div class="col-lg-4 col-md-4 col-sm-4">
										<label class="left">Language</label>
										<span class="red">*</span>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 no-pad-right no-pad-left">
										<div class="languagemenu">
											<!-- <select id="languageSelect" data-live-search="true">
												<option value="English">English</option>
												<option value="French">French</option>											
											</select> -->
										</div>
									</div>
								</div>	
							</td>
						</tr>
						</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<div ng-if="edituser != ''">
							<span ng-model="edituser[0].status" value="edit" ></span>
							<button type="submit" ng-click="update(edituser[0])" value="Save" class="btn btn-success">Save</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-info" ng-click="editUsers()">Edit</button>							
						</div>
						<div ng-if="edituser == ''">							
							<button type="submit" ng-value="user.status" ng-click="update(user)" class="btn btn-success">Save </button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>					
					<!-- <button type="submit">Submit</button> -->
					</form>
					
				</div>
			</div>	  
		</div>

</div>